/* Estilo general de la sección */
.play-style-section {
    background-color: #0066cc;
    position: relative;
    padding: 2rem;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  
  /* Contenedor principal */
  .play-style-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 7rem;
  }
  
  /* Columna de texto */
  .play-style-text {
    flex: 1;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Espaciado uniforme entre los bloques */
  }
  
  /* Estilo del título */
  .play-style-title h1 {
    font-size: 5rem;
    font-weight: bold;
    text-decoration: underline;
    position: relative;
  }
  

  /* Estilo de la fecha */
  .play-style-date  {
    font-size: 15px;
    font-weight: bold;
    transform: translate(0, -200%);
  }


  
  /* Estilo de las descripciones */
  .play-style-description  {
    font-size: 1rem;
   transform: translate(0, -50%);
    line-height: 1.5;
  }
  .texto_lorem11 {
    margin-bottom:  1rem; /* Ajusta el valor según lo que necesites */

  }
  
  .texto_lorem12 {
    margin-bottom: 1rem; /* Ajusta si es necesario */
  }
  
  /* Estilo del botón */
  .play-style-button {
    display: flex;
    justify-content: flex-end; /* Botón alineado a la derecha */
  }
  
  .play-style-button a {
    padding: 0.5rem 1rem;
    background-color: white;
    color: #0066cc;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .play-style-button a:hover {
    background-color: #004da1;
    color: white;
  }
  
  /* Columna de imagen */
  .play-style-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .play-style-image img {
    border-radius: 16px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  